<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestSuite" parallel="false">
<test name="SmokeTests">

    <!-- Hook in your Extent Listener -->
    <!--listeners>
        <listener class-name="com.example.demo.ExtentTestNGListener"/>
    </listeners-->

    <!-- Define your test block -->
   
     <groups>
            <run>
                <include name="regression"/>
            </run>
        </groups>
        <classes>
            <class name="com.example.tests.LoginTest"/>
        </classes>
    </test>

</suite>